<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b125253c-3ade-4997-b7f5-c519a73438e5" Alias="home" Level="1">
  <Info>
    <Name>Home</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="21e2d397-5ebd-4643-9507-d50bff218d9f">Home</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="89652acd-8798-4d14-bf19-fea61b30de69" SortOrder="0">filterPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>