@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Umbraco13Playground.Web.Models.FilterViewModel


<!-- Filter Form -->
<form method="post">
	<label for="filter">Filter:</label>
	<input type="text" id="filter" name="filter" value="@Model.Filter" />
	<button type="submit">Apply Filter</button>
</form>